<div class="home">
    <div class="home__text">
        <h1 class="home__text--title">Eaee 👋 meu nome é Giovani Gama.</h1>
        <div class="home__text--subtitle">
            <p>E eu sou um </p>
            <section class="home__animation">
                <div class="home__animation--firts">
                    <h1>Dev Full Stack.</h1>
                </div>
                <div class="home__animation--second">
                    <h1>Dev Front End.</h1>
                </div>
                <div class="home__animation--third">
                    <h1>Dev Back End.</h1>
                </div>
            </section>
        </div>
    </div>
    
</div>