<div class="menu">
    <div class="menu__container">
        <img class="menu__container--img" src="../../../assets/images/logo.svg" alt="img logo">
    </div>
    <div class="menu__itens">
        <nav>
            <ul class="menu__itens--list">
                <li *ngFor="let item of itens" class="menu__itens--item" [ngClass]="{ 'menu__itens--selected': selectedItem === item }" (click)="selectItem(item)">
                    <a [routerLink]="item">{{item}}</a>
                </li>
            </ul>
        </nav>
    </div>
</div>