<div class="menu">
    <div class="menu__container">
        <img class="menu__container--img" src="../../../assets/images/logo.svg" alt="img logo">
    </div>
    <div class="menu__itens">
        <nav>
            <ul class="menu__itens--list">
                <li class="menu__itens--item"><a routerLink="">Sobre</a></li>
                <li class="menu__itens--item"><a routerLink="">Experiência</a></li>
                <li class="menu__itens--item"><a routerLink="">Projetos</a></li>
                <li class="menu__itens--item"><a routerLink="">Contato</a></li>
            </ul>
        </nav>
    </div>
</div>